.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div{
  padding-bottom: 15px;
}

.h{
  font-size: 30px;
  color:blue;
}


.container{
  border:5px solid red;
  }
  
  .App{
    border:2px solid red;
    }

    .list2 ul{
      list-style:none;
    }

    .sk{
      font-size: 26px;
      color: crimson;


    }

    span{

      font-size: 26px;
      color:coral;
    }

    .clr{

      font-size: 24px;
      color:blue;
    }

    h3{

      font-size: 30px;
      color:blue;
    }


    .sio{

      font-size: 36px;
      color:coral;
    }

  
.btns {
  background-color: #4caf50; 
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn {
  background-color:#af4c82;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}



